<a href="https://colab.research.google.com/github/shrutisakhare21/CPP/blob/main/assignment_solution_pw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Reverse a string
s = "hello"
print(s[::-1])

olleh

In [2]:
# 2. Count vowels in a string
s = "education"
vowels = "aeiouAEIOU"
count = sum(1 for ch in s if ch in vowels)
print(count)

5

In [3]:
# 3. Check if a string is palindrome
s = "madam"
print(s == s[::-1])

True

In [4]:
# 4. Check if two strings are anagrams
s1, s2 = "listen", "silent"
print(sorted(s1) == sorted(s2))

True

In [5]:
# 5. Find all occurrences of a substring
s, sub = "banana", "an"
indices = [i for i in range(len(s)) if s.startswith(sub, i)]
print(indices)

[1, 3]

In [6]:
# 6. Basic string compression
s = "aaabbcccaaa"
res, count = "", 1
for i in range(1, len(s)):
    if s[i] == s[i-1]:
        count += 1
    else:
        res += s[i-1] + str(count)
        count = 1
res += s[-1] + str(count)
print(res)

a3b2c3a3

In [7]:
# 7. Check if a string has all unique characters
s = "python"
print(len(s) == len(set(s)))

True

In [8]:
# 8. Convert to uppercase and lowercase
s = "PaThOn"
print(s.upper(), s.lower())

PATHON pathon

In [10]:
# 9. Count words in a string
s = "Data Science with Python"
print(len(s.split()))

4

In [11]:
# 10. Concatenate two strings without +
s1, s2 = "Hello", "World"
print("{}{}".format(s1, s2))

HelloWorld

List Problems

In [12]:
# 11. Remove all occurrences of a specific element
lst = [1,2,3,2,4,2]
x = 2
lst = [i for i in lst if i != x]
print(lst)

[1, 3, 4]

In [13]:
# 12. Find second largest number
lst = [10, 20, 4, 45, 99]
print(sorted(set(lst))[-2])

45

In [14]:
# 13. Count occurrences of each element
lst = [1, 2, 2, 3, 1, 4]
d = {i: lst.count(i) for i in set(lst)}
print(d)

{1: 2, 2: 2, 3: 1, 4: 1}

In [15]:
# 14. Reverse a list in-place
lst = [1,2,3,4]
for i in range(len(lst)//2):
    lst[i], lst[-i-1] = lst[-i-1], lst[i]
print(lst)

[4, 3, 2, 1]

In [16]:
# 15. Remove duplicates preserving order
lst = [1,2,2,3,1,4]
res = []
[res.append(i) for i in lst if i not in res]
print(res)

[1, 2, 3, 4]

In [17]:
# 16. Check if list is sorted
lst = [1, 2, 3, 4]
print(lst == sorted(lst) or lst == sorted(lst, reverse=True))

True

In [18]:
# 18. Find intersection of two lists
a, b = [1,2,3,4], [3,4,5,6]
print(list(set(a) & set(b)))

[3, 4]

In [20]:
# 19. Find union of two lists without duplicates
a, b = [1,2,3], [3,4,5]
print(list(set(a) | set(b)))

[1, 2, 3, 4, 5]

In [19]:
# 20. Shuffle a list without built-in shuffle
import random
lst = [1,2,3,4,5]
for i in range(len(lst)-1,0,-1):
    j = random.randint(0, i)
    lst[i], lst[j] = lst[j], lst[i]
print(lst)

[5, 3, 2, 1, 4]

**tuple**

In [39]:
# 21. Common elements in two tuples
t1, t2 = (1,2,3), (2,3,4)
print(tuple(set(t1) & set(t2)))

(2, 3)

In [40]:
# 21. Common elements in two tuples
t1, t2 = (1,2,3), (2,3,4)
print(tuple(set(t1) & set(t2)))

(2, 3)

In [38]:
# 22. Intersection of two sets of integers
set1 = set(map(int, input("Enter first set: ").split(',')))
set2 = set(map(int, input("Enter second set: ").split(',')))
print(set1 & set2)

Enter first set: 4,3,2
Enter second set: 5,2,1,55,2
{2}

In [34]:
# 23. Concatenate two tuples
t1, t2 = (1,2,3), (4,5,6)
print(t1 + t2)

(1, 2, 3, 4, 5, 6)

In [33]:
# 24. Elements in first set but not second
set1 = set(input("Enter first set: ").split())
set2 = set(input("Enter second set: ").split())
print(set1 - set2)

Enter first set: shruti
Enter second set: sakhare
{'shruti'}

In [32]:
# 25. Elements from tuple within range
t = (1,2,3,4,5,6)
start, end = 2, 4
print(t[start:end])

(3, 4)

In [31]:
# 26. Union of two sets of characters
set1 = set(input("Enter first set: "))
set2 = set(input("Enter second set: "))
print(set1 | set2)

Enter first set: shruti
Enter second set: s
{'t', 'r', 'i', 's', 'h', 'u'}

In [30]:
# 27. Max and Min of tuple using unpacking
t = (4,6,2,9,1)
print("Max:", max(t), "Min:", min(t))

Max: 9 Min: 1

In [29]:
# 28. Union, intersection, and difference of two sets
A, B = {1,2,3,4}, {3,4,5,6}
print(A | B, A & B, A - B)

{1, 2, 3, 4, 5, 6} {3, 4} {1, 2}

In [28]:
# 29. Count occurrences of element in tuple
t = (1,2,1,3,1,1)
x = 1
print(t.count(x))

4

In [27]:
# 30. Symmetric difference of two sets
set1 = {"a","b","c"}
set2 = {"b","c","d"}
print(set1 ^ set2)

{'a', 'd'}

Dictionary

In [26]:
# 31. Word frequency
words = ["apple", "banana", "apple", "orange", "banana"]
freq = {w: words.count(w) for w in set(words)}
print(freq)

{'orange': 1, 'banana': 2, 'apple': 2}

In [25]:
# 32. Merge two dictionaries (add common keys)
d1 = {'a':1,'b':2,'c':3}
d2 = {'b':3,'c':4,'d':5}
merged = {k: d1.get(k,0)+d2.get(k,0) for k in set(d1)|set(d2)}
print(merged)

{'a': 1, 'c': 7, 'b': 5, 'd': 5}

In [24]:
# 33. Access value in nested dictionary
def access_nested(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

nested = {'a': {'b': {'c': 42}}}
print(access_nested(nested, ['a','b','c']))

42

In [23]:
# 34. Sort dictionary by values
d = {'a':3,'b':1,'c':2}
sorted_d = dict(sorted(d.items(), key=lambda x: x[1]))
print(sorted_d)

{'b': 1, 'c': 2, 'a': 3}

In [22]:
# 35. Invert a dictionary
d = {'a':1,'b':2,'c':1}
inverted = {}
for k,v in d.items():
    inverted.setdefault(v, []).append(k)
print(inverted)

{1: ['a', 'c'], 2: ['b']}